@import './mixins';

.account {
    margin-top: 0;

    .cover {
        margin-bottom: 5em;
        position: relative;
        top: initial;
        left: initial;
        right: initial;
    }

    .avatar {
        &.avatar-rounded {
            border-radius: 50% !important;
        }
        &:before {
            display: inline;
        }
    }

    .btn-group.account-fab {
        right: 135px;
    }

    .controls:focus-within {
        opacity: 0.8;
    }

    .cover {
        .controls {
            max-width: 1050px;
        }
    }

    .show-danger .form-feedback {
        color: @danger;
    }
}

.bootbox-body {
    .media {
        overflow: visible;
    }
}

.changepicmod--label {
    &:focus {
        outline: none;

        span {
            .dotted-focus;
        }
    }
}
