.composer {
    .title-container {
        .title.form-control {
            border: 1px solid #ededed;
        }
        .btn-group .composer-discard {
            margin-right: 1rem;
        }
    }

    .preview {
        overflow-y: auto;

        p {
            margin: 0 0 18px;
        }

        blockquote {
            font-size: 12px;

            p {
                margin-bottom: 0px;
            }
        }
    }
    .write,
    .preview {
        margin-top: 3px !important;
        margin-bottom: 3px !important;
    }
    .tags-container .bootstrap-tagsinput input {
        width: calc(50% - 15px) !important;
        height: 48px !important;
        border: 1px solid #ededed;
        margin: 5px 3px !important;
        margin-left: 0 !important;
    }
}
